/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 3/4;
  object-fit: cover;
}

/************ Farver **************/
html {
  --dark-grey: #2c2c2c;
  --light-grey: #a3a398;
  --creme: #d3d4ba;
  --blue: #63a9c7;
  --red: rgb(192, 32, 32);
  --green: rgb(81, 187, 72);
}

/************ Font **************/
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/**************** Baggrundsfarve ******************/
body {
  background-color: var(--creme);
}
/*********** h1 h2 h3 p ************/
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  color: var(--dark-grey);
  justify-self: center;
  margin-top: 50px;
}

.h1-product {
  font-size: 2.5rem;
  margin-top: 10px;
  justify-self: normal;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--dark-grey);
  font-size: 2rem;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--dark-grey);
  font-size: 1.7rem;
}

p {
  font-family: "Bebas Neue", sans-serif;
  color: var(--light-grey);
  font-size: 1rem;
}
/**************** Layout Mobil ******************/

.product-grid {
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.product-card {
  border: 2px solid var(--dark-grey);
  padding: 20px;
}

.product-card {
  position: relative;
}

.sale-badge {
  position: absolute; /* gør så jeg kan sætte badge på selve card*/
  top: 10px;
  left: 10px;
  background: var(--green);
  color: var(--dark-grey);
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
  font-family: "Bebas Neue", sans-serif;
}

.udsolgt-badge {
  position: absolute; /* gør så jeg kan sætte badge på selve card*/
  top: 10px;
  left: 10px;
  background: var(--red);
  color: var(--dark-grey);
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
  font-family: "Bebas Neue", sans-serif;
}

.card-forside {
  background-color: rgb(148, 177, 206);
  gap: 20px;
}

.card-forside a {
  text-decoration: none;
}

.container-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  width: 100%; /* fylder hele bredden */
}

.container-product img {
  max-width: 400px;
  width: 100%;
  height: auto;
  justify-self: center;
}

.product-text {
  display: grid;
  grid-template-columns: subgrid;
  text-align: left;
  justify-self: start; /* starter helt ude til venstre */
}

/**************** Layout Web ******************/

@media (min-width: 840px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    max-width: 1000px;
  }

  .product-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: 6px;
    border: 2px var(--dark-grey) solid;
    padding: 10px;
  }
  .product_list_container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-product {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Giver containeren højde, så centering virker */
    border: 2px var(--dark-grey) solid;
    max-width: 800px; /* Border stopper her */
    margin: 0 auto; /* Center containeren horisontalt */
    padding: 20px;
  }

  .container-product img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .product-text {
    padding: 50px;
  }

  .h1-product {
    font-size: 4rem;
  }
}

/**************** Knap ******************/
.knap {
  display: inline-block; /* Gør linket til en "knap" */
  font-family: "Bowlby One", sans-serif;
  background-color: var(--blue);
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  justify-self: start;
  justify-self: center;
  align-self: end;
}

.knap:hover {
  background-color: var(--creme);
}
/**************** Card forside ******************/
.card-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.card-forside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--blue);
  border-radius: 12px;
  text-decoration: none;
  color: var(--dark-grey);
  gap: 100px;
  transition: 0.25s;
}

.card-forside:hover {
  transform: translateY(-6px);
}

.card-forside:hover h3 {
  color: var(--creme);
}

@media (min-width: 840px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    justify-self: center;
  }
}
